@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
@media (pointer: fine) {
  body {
    cursor: none;
  }
}
* {
  box-sizing: border-box;
}